:root {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #3c3c3c;
}

body {
  padding-left: 2%;
  padding-right: 2%;
}

.footer {
  padding: 3%;
}

.footer-title {
  font-size: 25px;
}

.connection {
  font-size: 22px;
}

.nav {
  background-color: #353434;
  padding: 3%;
}

.flexLink {
  display: inline;
  padding-left: 3%;
  padding-right: 3%;
  font-size: 22px;
}

a {
  text-decoration: none;
  color: rgb(9, 142, 169);
}

.projects{ 
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.project{ 
  flex: 0 1 calc(50% - 20px); /* 50% width minus the gap */
  background-color: #3b3233; /* Example background color */
  padding: 20px;
  border-radius: 8px;
  box-sizing: border-box;
}

.form-input {
  padding: 3%;
}